<h1>{{titulo}}</h1> 

<div *ngIf="jogadorSelecionado"> 
  jogador selecionado: {{jogadorSelecionado}}
 <!--  <button class="btn btn-default" click()="voltar">Voltar</button> -->
</div>
<div *ngIf="!jogadorSelecionado">
  nenhum selecionado
</div>

<table class="table table-hover">
    <caption>Campeonato Brasileiro</caption>
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nome</th>
        <th scope="col">Apelido</th>       
        <th scope="col">Numero</th>
      </tr>
    </thead>
    <tbody>
    <tr *ngFor="let jogador of jogadores" style="cursor: pointer;" (click)="jogadorSelected(jogador)">  
        <th scope="row">{{jogador.id}}</th>
        <td>{{jogador.nome}}</td>
        <td>{{jogador.apelido}}</td>
        <td>{{jogador.numero}}</td>
      </tr>
    </tbody>
  </table>